<style>
  .c-movie-card {
    position: relative;
    box-shadow: 0 10px 50px rgba(0,0,0,0.19), 0 6px 50px rgba(0,0,0,0.23);  
    border-radius:4px;
    padding-bottom:20px;
    height:460px;
    background:white;
    // black angled overlay
    &:before {
      content:'';
      position: absolute;
      width: 100%;
      height:120px;
      background: rgba(0,0,0,.42);
      transform:skewY(9deg);
      top:260px;
      z-index: 9;
    }
    &:after {
       content:'';
      position: absolute;
      width: 100%;
      height:80px;
      background: linear-gradient(to bottom, rgba(0,16,31,.3) 40%,rgba(0,0,0,.1) 100%);
      transform:skewY(9deg);
      top:180px;
      z-index: 8;
    }
  }
  .c-movie-card:hover { opacity: 0.7; }
  .c-movie-card__btn-cont {
    position: absolute;
    top:40%;
    left:30%;
    z-index:1000;
  }
  .c-movie-card__rating {
    position:absolute;
    background:white;
    font-family: $font-family--primary;
    font-weight: 300;
    font-size: 1.2rem;
    display:inline-block;
    padding:32px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.25), 0 6px 30px rgba(0,0,0,0.29);
    right:-8.25em;
    top:1.75em;
  }
  .c-movie-card__img {
    position: relative;
    height:320px;
    background-size:280%;
    background-position:75% 20%;
    border-radius:4px 4px 0 0;
    &:after{
      content:'';
      display:block;
      width: 100%;
      height: 20%;
       transform: skewY(-8deg);
      background:white;
      position: absolute;
      z-index:500;
      bottom:-40px;
    }
  }
  .c-movie-card__content {
    padding-top:1.8rem;
    position: relative;
    color:#222222;
    background:white;
    z-index: 10;
  }
  .c-movie-card__title {
    font-family: $font-family--primary;
    font-weight: 400;
    text-align: center;
    margin-bottom: .5rem;
  }
  .c-movie-card__description {
    width: 100%;
    font-family: $font-family--primary;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    margin:0 auto;
  }
  .c-icons__arow {
    display:block;
    width: 15%;
    margin:0 auto;
    margin-top: 3rem;
  }
</style>
<!-- PARCIAL HEADER --> 
<%= render "shared/header" %>
<div class="container">
  <div class="row">
    <div class="page-header">
      <h1>Payment Plan Select</h1>      
    </div>	 
    <br>
    <%= link_to new_charge_path(amount: @peliculafind.precio, user: @user, pelicula: @peliculafind.name) do %>
      <div class="col-sm-6">
        <div class="c-movie-card">
          <div class="c-movie-card__img"><%= image_tag @peliculafind.url, class: "img-responsive nodecor", style:"width:100%; height: 300px;border-bottom:3px solid gray;" %></div>
          <div class="c-movie-card__content">
            <h2 class="c-movie-card__title"><%= @peliculafind.name %></h2>
            <p class="c-movie-card__description">Precio: <%= @peliculafind.precio/100.0 %>€</p>
          </div><!-- c-movie-card__content -->
        </div><!-- c-movie-card -->
      </div><!-- col-sm-6 -->
    <%end%> 
    <%= link_to select_monthly_subscription_path(user: @user) do %>
      <div class="col-sm-6">
        <div class="c-movie-card">
          <div class="c-movie-card__img"><img class="img-responsive" src="http://res.cloudinary.com/dlt8e13ma/image/upload/v1499270397/subscribe.jpg" style="width: 100%; height: 300px;border-bottom:3px solid gray;"></div>
          <div class="c-movie-card__content">
            <h2 class="c-movie-card__title">SUBSCRIBE NOW</h2>
            <p class="c-movie-card__description"></p>
          </div><!-- c-movie-card__content -->
        </div><!-- c-movie-card -->
      </div><!-- col-sm-6 -->
    <%end%>  
    <br></br>
	</div> <!-- end row -->
	<!-- <%=debug params %> -->
</div> <!-- end container -->
<!-- PARCIAL FOOTER --> 
<%= render "shared/footer" %>
