<style>
/* SMARTHPHONE */
@media (max-width: 580px) { 
  .navbar {color: black !important;}
  .navbar-brand {margin-top:-46px !important;}
  .collapse {background-color: grey !important; color: black !important;}
  .dropdown-menu li { margin-left: 40px !important;color: black !important;}
  .dropdown-header {color: black !important;}
  .dropdown-toggle, .dropdown .open {color: black !important;}
  .nav > li > a  {color: white !important;}
  .navbar-right {float:left; margin-top: 30px !important;}
}  
/* TABLET */
@media (max-width: 991px) {
  .navbar-right {margin-top:-55px; margin-right: -120px;}
}
  .row--intro {
    padding-top: 20px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #fff;
    opacity: 0.4;
  }
  .row--intro span {
    font-size: 11px;
  }
  .skew-title {
    font-size: 25px;
    margin-top:16px;
    margin-left: -50px !important;
    margin-right: 5px;
  }
  .skew-title span {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 50px;
    margin: auto;
    z-index: 2;
    text-align: center;
    color: #fff;
    font-family: 'roboto condensed';
    font-weight: 700;
    font-size: 35.714285714285715px;
    line-height: 50px;
    -webkit-transform: skewY(-15deg);
    transform: skewY(-15deg);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    cursor: default;
  }
  .skew-title span:after,
  .skew-title span:before {
    display: block;
    top: 0;
    left: 0;
    width: 40px;
    height: 50px;
    position: absolute;
    background: #185a81;
    content: ' ';
    z-index: -1;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .skew-title span:before {
    background: rgba(0,0,0,0.1);
    -webkit-transform: skewY(15deg);
            transform: skewY(15deg);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  .skew-title span:nth-child(even) {
    background-color: #144c6e;
    -webkit-transform: skewY(15deg);
            transform: skewY(15deg);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    color: #d9d9d9;
  }
  .skew-title span:nth-child(even):after {
    background-color: #144c6e;
  }
  .skew-title span:nth-child(even):before {
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
    -webkit-transform: skewY(-15deg);
            transform: skewY(-15deg);
  }
  .skew-title span.flat {
    -webkit-transform: skewY(0);
            transform: skewY(0);
    color: #fff;
  }
  .skew-title span.flat:before {
    -webkit-transform: skewY(0);
            transform: skewY(0);
  }
  .skew-title span.flat:nth-child(even):after {
    background-color: #185a81;
  }
  .skew-title span.alt:after {
    background-color: #b94a2c;
  }
  .skew-title span.alt:nth-child(even):after {
    background-color: #9d3f25;
  }
  .skew-title span.alt.flat:nth-child(even):after {
    background-color: #b94a2c;
  }
  .navbar-brand {
    width:100%;
    margin-left: 20px;
    margin-right: 25px;
  } 
  .estilosapp2 { font-size: 14px; }
</style> 
<div class="estilosapp2">
  <div class="row">
    <!-- NAVBAR BEGIN  -->
    <nav id="logo" class="navbar navbar-fixed navbar-default" role="navigation" style="margin-bottom:-1px; border-bottom: 2px solid #173B0B;"> 
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsable">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- BRAND -->
          <%= link_to root_path, class: "navbar-brand" do %>
            <span class="row skew-title">  
              <span>M</span><span>O</span><span>V</span><span>I</span><span>E</span><span class="last">S</span>
              <span class="alt">T</span><span class="alt">O</span><span class="alt">D</span><span class="alt">A</span><span class="alt last">Y</span>
            </span> 
          <%end%>  
          <script>
            (function() {
            $('.skew-title').children('span').hover((function() {
              var $el, n;
              $el = $(this);
              n = $el.index() + 1;
              $el.addClass('flat');
              if (n % 2 === 0) {
                return $el.prev().addClass('flat');
              } else {
                if (!$el.hasClass('last')) {
                  return $el.next().addClass('flat');
                }
              }
            }), function() {
              return $('.flat').removeClass('flat');
            });
          }).call(this);
        </script>
        </div><!-- navbar-header -->
        <div class="container">
          <!-- NAVBAR DROPDOWNS-->
          <div class="collapse navbar-collapse" id="navbar-collapsable" style="margin-top:41px;">
            <ul class="nav navbar-nav foo" id="menu" >
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">MOVIES & DVDs<b class="caret"></b></a>
                <ul class="dropdown-menu" style="padding: 20px; ">
                  <li class="dropdown-header bgreen">MOVIES & DVDs</li>
                  <b class="caret"></b>
                  <li><%= link_to 'Peliculas', peliculas_path %></li>
                  <li></li>
                  <li><%= link_to 'About', about_path %></li>
                  <li class="divider"></li>
                  <li><a href="/admin">Admin Dashboard</a></li>
                  <li><a href="#">Help</a></li>
                </ul>
              </li><!-- end dropdown -->
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">TV<b class="caret"></b></a>
                <ul class="dropdown-menu" style="padding: 20px; ">
                  <li class="dropdown-header bgreen">TV</li>
                  <b class="caret"></b>
                  <li><a href="/one">One</a></li>
                  <li><a href="/two">Two</a></li>
                  <li><a href="/three">Three</a></li>
                  <li class="divider"></li>
                  <li><a href="/admin">Admin Dashboard</a></li>
                  <li><a href="/admin/users">Users</a></li>
                </ul>
              </li><!-- end dropdown -->
              <li><%= link_to "Nosotros", about_path, style:"float:left; color:white" %></li> 
            </ul><!-- end nav navbar-nav -->
            <ul class="nav navbar-nav navbar-right"> 
                <% if user_signed_in? %> 
                  <li class="dropdown"> 
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %> <b class="caret"></b></a> 
                    <ul class="dropdown-menu" style="padding: 20px;">
                      <li class="dropdown-header bgreen">PROFILE</li>
                      <li><%= link_to '<i class="fa fa-address-book"></i>&nbsp;Settings'.html_safe, settings_path, class:"btn btn-primary size13 white nodecor", style:"margin-top: 15px; margin-bottom: 5px;" %></li>   
                      <li><%= link_to '<i class="fa fa-sign-out fa-3"></i>&nbsp;Sign Out'.html_safe, destroy_user_session_path, method: :delete, class:"btn btn-danger size13 white nodecor" %></li>   
                    </ul> 
                  </li><!-- end dropdown --> 
                <%else%> 
                  <li><%=link_to "Login", new_user_session_path, style:"color:white" %> </li>
                  <li><%=link_to "Sign up", new_user_registration_path, style:"color:white" %> </li> 
                <%end%> 
            </ul><!-- end nav navbar-nav -->
          </div><!-- collapse navbar-collapse -->
      </div><!-- end container -->
    </nav><!-- end nav --> 
  </div><!-- end estilosapp2 -->  
</div> <!-- end row -->