<style>
  .card {height:470px;}
  .card:hover {opacity: 0.7;}
  .card-block {padding:8%;}
  .card-title {padding-bottom:10px;height:40px;}
  .card-text {height:10px;}
  .imgpeli {margin-top:-10px; width:100%; height: 260px;margin-bottom:5px;} 
  #myCarousel .carousel-caption {
    left:0;
    right:0;
    bottom:0;
    text-align:left;
    padding:10px;
    background:rgba(0,0,0,0.6);
    text-shadow:none;
    padding:0px 35px;
    width:737px;
  }
  #myCarousel .carousel-caption h4>a {text-decoration: none; font-weight:bold; color: #81BEF7;}
  #myCarousel .carousel-caption p {font-size: 13px;}
  #myCarousel .list-group {position:absolute;top:0;right:0; text-shadow: 1px 2px 1px grey;}
  #myCarousel .list-group-item {border-radius:0px;cursor:pointer;}
  #myCarousel .list-group .active {background-color:#585858;border: 1px solid #A4A4A4;} 
  .carousel-inner .item img {width:735px;height:400px;}
  .list-group-item {width:395px; height:101px;background-color: #585858; color:white; padding:20px; border: 1px solid #A4A4A4;}
  .list-group-item:hover {opacity: 0.7;}
  .background-slider {
    background: #000000;  
    background: -webkit-linear-gradient(to right, #434343, #000000);  
    background: linear-gradient(to right, #434343, #000000); 
    box-shadow: 1px 3px 1px grey;
  }
  h1 {
    font-size: 4rem;
    font-weight: 900;
    text-align: left;
    margin: 2rem;
    margin-left: 3rem;
    text-transform: uppercase;
    animation: background-move 10s infinite;
    background: url(https://blog.spoongraphics.co.uk/wp-content/uploads/2012/retro-pattern/triangle-pattern.jpg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  } 
  @keyframes background-move {
    0% {
      background-position: 0% 0%;
    }
    25% {
      background-position: 5% 10%;
    }
    50% {
      background-position: 15% 15%;
    }
    75% {
      background-position: 10% 5%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url(http://themes.googleusercontent.com/static/fonts/opensans/v7/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format("woff");
  } 
  @media (min-width: 992px) { 
    #myCarousel {padding-right:33.3333%;}
    #myCarousel .carousel-controls {display:none;}  
  }
  @media (max-width: 991px) { 
    .carousel-caption p,
    #myCarousel .list-group {display:none;} 
    h1 {font-size:26px;}
    #myCarousel .carousel-caption {height: 75px !important;padding-top:10px;}
    #myCarousel .carousel-caption h4>a {font-size: 27px;}
    .carousel-inner  {width: 100% !important;height:400px;}
    .navbar-brand {margin-right: 25px;}
  }
.digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }

.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }

.flickr_pagination {text-align: center;padding: 0.3em;cursor: default;}
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {padding: 0.2em 0.5em;}
  .flickr_pagination .disabled {color: #aaaaaa; }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    border: 1px solid #dddddd;
    color: red;
    text-decoration: none; 
    border-radius: 5px; 
    background-color: whitesmoke;
    padding: 5px;
    box-shadow: 1px 2px 3px grey;
    margin:2px;
  }
  .flickr_pagination a {
    border: 1px solid #dddddd;
    color: #0063dc;
    text-decoration: none; 
    border-radius: 5px; 
    background-color: whitesmoke;
    padding: 5px;
    box-shadow: 1px 2px 3px grey; 
    margin:2px;
    }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: #003366;
      background: #0063dc;
      color: white; }
  .flickr_pagination .page_info {color: #aaaaaa;padding-top: 0.8em; margin-bottom: 10px !important;}
  .flickr_pagination .previous_page, .flickr_pagination .next_page {border-width: 2px;}
  .flickr_pagination .previous_page {margin-right: 1em;}
  .flickr_pagination .next_page {margin-left: 1em;}
  /* SMARTHPHONE */
@media (max-width: 580px) { 
  .card {margin: 0% 5% !important;margin-bottom:20px !important;}
}  
/* TABLET */
@media (max-width: 991px) {
   
}
</style>
<!-- JAVASCRIPT -->  
<script type="text/javascript">
$(document).ready(function(){ 
  var clickEvent = false;
  $('#myCarousel').carousel({
    interval:   4000  
  }).on('click', '.list-group li', function() {
      clickEvent = true;
      $('.list-group li').removeClass('active');
      $(this).addClass('active');   
  }).on('slid.bs.carousel', function(e) {
    if(!clickEvent) {
      var count = $('.list-group').children().length -1;
      var current = $('.list-group li.active');
      current.removeClass('active').next().addClass('active');
      var id = parseInt(current.data('slide-to'));
      if(count == id) {
        $('.list-group li').first().addClass('active'); 
      }
    }
    clickEvent = true;
  });
}) 
$(window).load(function() {
    var boxheight = $('#myCarousel .carousel-inner').innerHeight();
    var itemlength = $('#myCarousel .item').length;
    var triggerheight = Math.round(boxheight/itemlength+1);
  $('#myCarousel .list-group-item').outerHeight(triggerheight);
});
</script> 
<!-- PARCIAL HEADER --> 
<%= render "shared/header" %>
<div class="estilosapp2">
  <!-- PARCIAL BOX SEARCHS --> 
  <%= render "shared/boxsearchs" %>
    <div class="row background-slider">
      <div class="col-md-12 col-sm-12">  
         <div class="container">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <img src="http://res.cloudinary.com/dlt8e13ma/image/upload/v1497696468/Piratas_del_caribe_la_veganza_de_salazar_vg3aoi.jpg">
                  <div class="carousel-caption">
                    <h4><a href="#">Pirates of the Caribbean: Dead Men tell no tales</a></h4>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. <a class="label label-primary nodecor white" href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank">More</a></p>
                  </div>
                </div><!-- End Item --> 
                <div class="item">
                  <img src="http://res.cloudinary.com/dlt8e13ma/image/upload/v1497696462/Guardianes_de_la_galaxia_vol2_mtassf.jpg">
                  <div class="carousel-caption">
                    <h4><a href="#">Guardians of the Galaxy Vol.2</a></h4>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. <a class="label label-primary nodecor white" href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank">More</a></p>
                  </div>
                </div><!-- End Item --> 
                <div class="item">
                  <img src="http://res.cloudinary.com/dlt8e13ma/image/upload/v1498202875/Alien_covenant.jpg">
                  <div class="carousel-caption">
                    <h4><a href="#">Alien: Covenant</a></h4>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. <a class="label label-primary nodecor white" href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank">More</a></p>
                  </div>
                </div><!-- End Item --> 
                <div class="item">
                  <img src="http://res.cloudinary.com/dlt8e13ma/image/upload/v1498202891/La_La_Land.jpg">
                  <div class="carousel-caption">
                    <h4><a href="#">La La Land</a></h4>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. <a class="label label-primary nodecor white" href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank">More</a></p>
                  </div>
                </div><!-- End Item --> 
              </div><!-- End Carousel Inner -->
            <ul class="list-group col-sm-4">
              <li data-target="#myCarousel" data-slide-to="0" class="list-group-item active"><h4>Pirates of the Caribbean: Dead Men tell no tales</h4></li>
              <li data-target="#myCarousel" data-slide-to="1" class="list-group-item"><h4>Guardians of the Galaxy Vol.2</h4></li>
              <li data-target="#myCarousel" data-slide-to="2" class="list-group-item"><h4>Alien: Covenant</h4></li>
              <li data-target="#myCarousel" data-slide-to="3" class="list-group-item"><h4>La La Land</h4></li>
            </ul>
              <!-- Controls -->
              <div class="carousel-controls">
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </div>
            </div><!-- End Carousel -->
        </div><!-- end container -->
      </div> <!-- col-md-12 -->
    </div> <!-- end row -->  
  <div class="container">
    <% if @busqueda.empty? %>
     <h1>Top Movies of the Month </h1>
    <%else%>
      <h1><%= "SEARCH BY "+@busqueda %></h1>
    <%end%>
    <div class="row">
      <% if !@peliculas.nil? %>   
        <% @peliculas.each do |peli| %>
          <div class="col-lg-3 col-md-4 col-sm-4">
            <div class="card">
                <%= link_to pelicula_path(peli) do %>
                  <%= image_tag peli.url, class: "img-fluid nodecor imgpeli" %>
                <%end%>
                <div class="card-block">
                  <h4 class="card-title"><%= peli.name %></h4>    
                  <p class="card-text"><b>Director:</b>&nbsp;<%= peli.director %></p>
                  <p class="card-text"><b>Actor:</b>&nbsp;<%= peli.actor %></p>
                  <p class="card-text"><b>Año:</b>&nbsp;<%= peli.year %></p>
                  <p class="card-text"><b>Genero:</b>&nbsp;<%= peli.genre %></p>
              </div> <!--/.Card content-->
            </div> <!--/.Card-->  
          </div><!-- end col --> 
        <%end%>
      <%end%>    
    </div><!-- end row -->
    <div class="row"> 
      <% if params[:search].nil? and params[:search_year].nil? and params[:search_genre].nil? %>
        <div class="flickr_pagination">
          <div class="page_info">
            <%= page_entries_info @peliculas %>
          </div>
          <%= will_paginate @peliculas, :container => false, :previous_label => "&laquo;", :next_label => "&raquo;" %>
        </div>
      <%end%>
    </div><!-- end row -->      
    <div class="row">
      <h1>Last Comments</h1>
      <div class="col-sm-12" style="margin-top:10px;padding-left:3%;padding-right:3%;">
        <% if !@comentarios.nil? %>   
          <table class="table table-hover table-striped" border="0">
            <tbody>
              <th class="success"></th>     
              <th class="success">Name</th>   
              <th class="success">Comment</th>    
              <th class="success" style="width:95px;">Data</th>   
            </tbody> 
            <% @comentarios.each do |com| %>
              <tr> 
                <td><%= com.id %></td>
                <td><%= com.name %></td> 
                <td><%= com.comment  %></td>
                <td><%= com.created_at.to_date %></td>
              </tr> 
            <%end%>
          </table>    
        <%end%>    
      </div><!-- end col --> 
    </div><!-- end row -->       
  </div> <!-- end container -->  
<!-- PARCIAL FOOTER --> 
<%= render "shared/footer" %>
</div> <!-- end estilosapp2 -->