<style>
  .card {height:470px;}
  .card:hover {opacity: 0.7;}
  .card-block {padding:8%;}
  .card-title {padding-bottom:10px;height:40px;}
  .card-text {height:10px;}
  .imgpeli {margin-top:-10px; width:100%; height: 260px;margin-bottom:5px;}
</style>
<!-- PARCIAL HEADER --> 
<%= render "shared/header" %>
<div class="estilosapp2">
  <!-- PARCIAL BOX SEARCHS --> 
  <%= render "shared/boxsearchs" %>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-4"> 
        <div class="card" style="width:100%;">
          <img src="https://resizing.flixster.com/nQpr_LAyqR81PeN8b-mhZFtTUjU=/1100x480/v1.czsxMDI3NzM5ODtqOzE3Mzk4OzEyMDA7NTUwOzI0MA" alt="Avatar" style="width: 100%; height:300px;">
          <div style="height: 100px; overflow:hidden;">
            <h4><b>Pirates of Caribbean</b></h4> 
            <p>Fans Thrilled By Trippiest Sequences</br> Yet in Episodes 3 </p> 
          </div>
        </div><!-- card --> 
      </div><!-- col-md-6 -->
      <div class="col-md-3 col-sm-4">
        <div class="card" style="width:100%;">
          <img src="https://resizing.flixster.com/Ex9j1BNynDvLDQWwSds4ROBTvAk=/540x480/v1.czsxMDI3NzQxMDtqOzE3Mzk4OzEyMDA7Mjc0OzI0MA" alt="Avatar" style="width: 100%; height:300px;">
          <div style="height: 100px; overflow:hidden;">
            <h4><b>Jane Doe</b></h4> 
            <p>Fans Thrilled By Trippiest Sequences</br> Yet in Episodes 3 </p> 
          </div>
        </div><!-- card --> 
      </div>  <!-- col-md-3 -->
      <div class="col-md-3 col-sm-4">
        <div class="card" style="width:100%;">
          <img src="https://resizing.flixster.com/yhyWZmbOY7uzXRC7leDXOdj0FtY=/540x480/v1.czsxMDI3NzQwODtqOzE3Mzk4OzEyMDA7Mjc0OzI0MA" alt="Avatar" style="width: 100%; height:300px;">
          <div  style="height: 100px; overflow:hidden;">
            <h4><b>Jane Doe</b></h4> 
            <p>Fans Thrilled By Trippiest Sequences</br> Yet in Episodes 3 </p>
          </div>
        </div><!-- card -->  
      </div> <!-- col-md-3 -->
    </div> <!-- end row -->  
    <div class="row">
      <% if !@peliculas.nil? %>   
        <% @peliculas.each do |peli| %>
          <div class="col-lg-3 col-md-4 col-sm-4">
            <div class="card">
                <%= link_to pelicula_path(peli) do %>
                  <%= image_tag peli.url, class: "img-fluid nodecor imgpeli" %>
                <%end%>
                <div class="card-block">
                  <h4 class="card-title"><%= peli.name %></h4>    
                  <p class="card-text"><b>Director:</b>&nbsp;<%= peli.director %></p>
                  <p class="card-text"><b>Actor:</b>&nbsp;<%= peli.actor %></p>
                  <p class="card-text"><b>Año:</b>&nbsp;<%= peli.year %></p>
                  <p class="card-text"><b>Genero:</b>&nbsp;<%= peli.genre %></p>
              </div> <!--/.Card content-->
            </div> <!--/.Card-->  
          </div><!-- end col --> 
        <%end%>
      <%end%>    
    </div><!-- end row -->
    <div class="row">
      <div class="col-sm-12" style="margin-top:10px;padding-left:3%;padding-right:3%;">
        <% if !@comentarios.nil? %>   
          <table class="table table-hover table-striped" border="0">
            <tbody>
              <th class="success"></th>     
              <th class="success">Name</th>   
              <th class="success">Comment</th>    
              <th class="success">Data</th>   
            </tbody> 
            <% @comentarios.each do |com| %>
              <tr> 
                <td><%= com.id %></td>
                <td><%= com.name %></td> 
                <td><%= com.comment  %></td>
                <td><%= com.created_at.to_date %></td>
              </tr> 
            <%end%>
          </table>    
        <%end%>    
      </div><!-- end col --> 
    </div><!-- end row -->       
  </div> <!-- end container -->  
<!-- PARCIAL FOOTER --> 
<%= render "shared/footer" %>
</div> <!-- end estilosapp2 -->