
  <!-- PARCIAL HEADER --> 
  <%= render "shared/header" %>
  <div class="container"> 
    <div class="controladorej2">
      <% if user_signed_in? %> 
        <div class="boxp">
          <div class="alert bold size18"><i class="fa fa-home fa-1x color-teal"></i>&nbsp;MOVIES OPENING THIS WEEK</div>  
            <table class="table table-hover table-striped" border="0">
              <tbody>
                <th class="success">Stars</th>      
                <th class="success"><%= sort_link "id" %></th>     
                <th class="success"><%= sort_link "name" %></th>      
                <th class="success"><%= sort_link "actor" %></th>     
                <th class="success"><%= sort_link "year" %></th>   
                <th class="success"></th>
              </tbody> 
              <% @peliculas.each do |peli| %>
                <tr>
                  <td><span class="fa fa-star blue">&nbsp;</span><%= peli.stars %></td>
                  <td><%= peli.id %></td>
                  <td><%= peli.name %></td>
                  <td><%= peli.actor %></td>
                  <td><%= peli.year %></td>
                  <td align="center" style="width:160px;">
                    <%= link_to '', pelicula_path(peli), :title => "Visualizar", :class => 'btn btn-sm btn-success fa fa-1x fa-search nodecor', style:"color: white;" %>
                    <%= link_to '', edit_pelicula_path(peli), :title => "Editar", :class => 'btn btn-sm btn-primary fa fa-1x fa-edit nodecor', style:"color: white;" %>
                    <%= link_to '', { action: :destroy, id: peli.id }, method: :delete, :title => "Eliminar",:class => 'btn btn-sm btn-danger fa fa-1x fa-close nodecor', style:"color: white;" %>
                  </td>
                </tr>
              <%end%>
            </table>
            <%= link_to 'Nueva Pelicula', new_pelicula_path, title:"Añade una nueva pelicula !!", class:"btn btn-sm btn-danger nodecor" %>
        </div> <!-- end box -->     
      <%else%>
        <hr style="margin-top:30px;"/>
        <h3>Only for registered users. Solo para los usuarios registrados!!</h3>
        <hr style="margin-bottom:400px;"/>
      <%end%>
    </div> <!-- end controladorej2 -->
  </div> <!-- end container -->
</div> <!-- end estilosapp2 -->
<!-- PARCIAL FOOTER --> 
<%= render "shared/footer" %>