<style>
.field {margin-top: 10px;}
</style>
<div class="estilosapp2">
    <!-- PARCIAL HEADER --> 
    <%= render "shared/header" %>
    <div class="container"> 
        <div class="controladorej2">
            <div class="box">
                <div class="alert"><i class="fa fa-th-large fa-1x color-blue"></i>&nbsp;Crear Pelicula</div> 
                    <%= form_for(@pelicula) do |f| %>
                        <div class="field">
                            <%= f.text_field :name, placeholder: "Nombre", class:"form-control" %>
                        </div> 
                        <div class="field">
                            <%= f.text_field :director, placeholder: "Director", class:"form-control" %>
                        </div> 
                        <div class="field">
                            <%= f.text_field :actor, placeholder: "Actor", class:"form-control" %>
                        </div>  
                        <div class="field">
                            <%= f.text_field :email_contact, placeholder: "Email", class:"form-control" %>
                        </div> 
                        <div class="field">
                            <%= f.text_field :oscar, placeholder: "Oscar (Yes/No)", class:"form-control" %>
                        </div> 
                        <div class="field">
                            <%= f.text_field :category, placeholder: "Category", class:"form-control" %>
                        </div>  
                        <div class="field">
                            <%= f.text_field :stars, placeholder: "Stars", class:"form-control" %>
                        </div> 
                        <div class="field">
                           <%= f.select :country, options_for_country, :prompt => 'Seleccionar el Pais', class:'form-control' %>
                        </div> 
                        <div class="field">
                            <%= f.text_field :year, placeholder: "Año", class:"form-control" %>
                        </div>    
                        <div class="field">
                            <%= f.text_field :revenue_amount, placeholder: "Recaudacion", class:"form-control" %>
                        </div> 
                         <div class="field">
                            
                            <%= f.select :genre, options_for_genre, :prompt => 'Seleccionar el Genero', class:'form-control' %>
                        </div> 
                         <div class="field">
                            <%= f.text_field :precio, placeholder: "Precio", class:"form-control" %>
                        </div> 
                        <div class="field">
                            <%= f.text_field :url, placeholder: "URL Imagen", class:"form-control" %>
                        </div> 
                        <div class="field">
                            <%= f.submit "Guardar", class:"btn btn-sm btn-danger white pull-right", style:"margin-top: 15px;" %>
                        </div>
                    <%end%>
                    <%= link_to 'Listado de Peliculas', @pelicula, class:"btn btn-sm btn-primary nodecor", style:"margin-top: 15px;" %> 
                    <br></br> 
                    <ol>
                        <li>El nombre no puede estar vacio.</li>
                        <li>No permite guardar 2 nombres en la BD con el mismo nombre.</li>
                        <li>La calificacion stars solo puede ser un rango 0 a 10.</li>
                        <li>El año ha de ser numerico.</li>
                        <li>La URL de la imagen no puede estar vacia.</li>
                        <li>El genero no puede estar vacio.</li>
                    </ol>  
            </div> <!-- end box -->
            <div class="row">
                <div class="margin20">
                    <%= @pelicula.errors.full_messages.each do |message| %>
                        <div class="message be-red white top-space text-center">
                            * <%= message %>
                        </div>
                    <%end%>
                </div> <!-- margin20 -->        
            </div> <!-- end row -->
            <!-- PARCIAL FOOTER --> 
            <%= render "shared/footer" %>
        </div> <!-- end controladorej2 -->
    </div> <!-- end container -->
</div> <!-- end estilosapp2 -->