<div class="estilosapp2">
  <!-- PARCIAL HEADER --> 
  <%= render "shared/header" %>
  <div class="container"> 
    <div class="controladorej2">
      <div class="row">
        <div class="box">
          <div class="alert"><i class="fa fa-th-large fa-1x color-blue"></i>&nbsp;Mostrar Pelicula</div>
            <div class="card fwhitesmoke" style="height: 450px !important;"> 
              <div class="col-sm-6 col-md-6 col-xs-12">
                <img src="<%= @pelicula.url%>" class="img-responsive" style="padding: 5%; width: 100%; height: 400px;"/>
              </div>
              <div class="col-sm-6 col-md-6 col-xs-12">
                <label class="control-label">Id:</label>
                <p class="form-control"><%= @pelicula.id %></p>
                <label class="control-label">Name:</label>
                <p class="form-control"><%= @pelicula.name %></p>              
                <label class="control-label">Director:</label>
                <p class="form-control"><%= @pelicula.director %></p>  
                <label class="control-label">Actor:</label>
                <p class="form-control"><%= @pelicula.actor %></p>
                <label class="control-label">Email Contact:</label>
                <p class="form-control"><%= @pelicula.email_contact %></p>
              </div> <!-- end col-sm-6 -->  
            </div> <!-- end card -->  
            <div class="field">
              <label class="control-label">Oscar:</label>
              <p class="form-control"><%= @pelicula.oscar %></p>
            </div> <!-- end field -->
            <div class="field">
              <label class="control-label">Categoria:</label>
              <p class="form-control"><%= @pelicula.category %></p>
            </div> <!-- end field -->
            <div class="field">
              <label class="control-label">Stars:</label>
              <p class="form-control"><%= @pelicula.stars %></p>
            </div> <!-- end field -->
            <div class="field">
              <label class="control-label">Country:</label>
              <p class="form-control"><%= @pelicula.country %></p>
            </div> <!-- end field -->
            <div class="field">
              <label class="control-label">Year:</label>
              <p class="form-control"><%= @pelicula.year %></p>
            </div> <!-- end field -->
            <div class="field">
              <label class="control-label">Revenue Amount:</label>
              <p class="form-control"><%= @pelicula.revenue_amount %></p>
            </div> <!-- end field -->
            <div class="field">
              <label class="control-label">Genero:</label> 
              <p class="form-control"><%= @pelicula.genre %></p>
            </div> <!-- end field -->
            <div class="field">
              <label class="control-label">Precio:</label>
              <p class="form-control"><%= @pelicula.precio/100.0 %></p>
            </div> <!-- end field -->
            <div class="field">
              <label class="control-label">URL imagen:</label>
              <p class="form-control" style="overflow:hidden;"><%= @pelicula.url %></p>
            </div> <!-- end field -->
          <div class="row">
            <div class="col-lg-12">
              <br/>
              <%= link_to 'Editar Pelicula', edit_pelicula_path(@pelicula), class:"btn btn-sm btn-success pull-right nodecor", style:"margin-left: 5px;" %> 
              <%= link_to 'Back to Peliculas', peliculas_path, class:"btn btn-sm btn-primary pull-right nodecor" %>
            </div>
          </div> <!-- end row -->
          <br>
          <h2>Comentarios</h2>
          <!-- PARCIAL COMENTARIOS -->
          <%= render @pelicula.comentarios %>
          <div class="panel panel-default panelmod1" style=" box-shadow: 1px 2px 3px gray;"> 
            <span style="font-size: 2em; margin-left:-7px;margin-bottom: 10px;">Añadir comentarios</span>
            </br>
            <!-- PARCIAL FORM COMENTARIOS -->
            <%= render "comentarios/form" %>
            <br></br>
          </div> <!-- end panel -->
          <div class="margin20">  
            <br>
            <%= @pelicula.errors.full_messages.each do |message| %>
              <div class="be-red white top-space text-center">
                * <%= message %>
              </div>
            <%end%>
          </div> <!-- end margin20 -->
        </div> <!-- end box -->
      </div> <!-- end row -->
    </div> <!-- end controladorej2 -->
  </div> <!-- end container -->
</div> <!-- end estilosapp2 -->
<!-- PARCIAL FOOTER --> 
<%= render "shared/footer" %>